@model UserModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Pagina principal</h3>
<div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
    <div class="card-header">Header</div>
    <div class="card-body">
        <span class="material-symbols-outlined">
            group
        </span>
        <h5 class="card-title">Visitantes</h5>
    </div>
    <a class="btn">Mas informacion</a>
</div>
<div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
    <div class="card-header">Header</div>
    <div class="card-body">
        <span class="material-symbols-outlined">
            groups
        </span>
        <h5 class="card-title">Visitantes el dia de hoy</h5>
    </div>
    <a class="btn">Mas informacion</a>
</div>
<div class="card text-white bg-success mb-3" style="max-width: 18rem;">
    <div class="card-header">Header</div>
    <div class="card-body">
        <span class="material-symbols-outlined">
            data_usage
        </span>
        <h5 class="card-title">Apartamentos ocupados</h5>
    </div>
    <a class="btn">Mas informacion</a>
</div>
<div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
    <div class="card-header">Header</div>
    <div class="card-body">
        <span class="material-symbols-outlined">
            apartment
        </span>
        <h5 class="card-title">Apartamentos disponibles</h5>
    </div>
    <a class="btn">Mas informacion</a>
</div>

